@model FMS.Models.Place

@{
    ViewBag.Title = "Delete Place";
}

<div class="title">
    @ViewBag.Title
<div class="float-right">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>
</div>

<h3>Are you sure you want to delete this place?</h3>
<div>
    <div>
        <table class="table2columns">
            <tr>
                <td>
                    <h4>Location Details</h4>
                    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Landline)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Landline)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fax)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fax)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Province)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Province.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.District)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.District.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Tehsil)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Tehsil.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UnionCouncil)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UnionCouncil.Name)
                        </dd>

                        @*<dt>
                                @Html.DisplayNameFor(model => model.Geography)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Geography)
                            </dd>*@

                    </dl>
                </td>
                <td>
                    <h4>Incharge Details</h4>
                    <hr />
                    @Html.DisplayFor(model => model.InchargePerson)
                </td>
            </tr>
        </table>



    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
