@model IEnumerable<FMS.Models.ContractorVehicle>

@{
    ViewBag.Title = "Contractor Vehicles";
}

<div class="title">
    @ViewBag.Title
    <div class="float-right">
        @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.ContractorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.ContractorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContractorVehicleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContractorVehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContractorVehicleId })
        </td>
    </tr>
}

</table>
