@model IEnumerable<FMS.Models.CommodityType>

@{
    ViewBag.Title = "Commodity Types";
}

<div class="title">
    @ViewBag.Title
    <div class="float-right">
        @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatePerBag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KgConversionFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatePerBag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KgConversionFactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommodityTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommodityTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommodityTypeId })
        </td>
    </tr>
}

</table>
