@model IEnumerable<FMS.Models.DepotAllocation>

@{
    ViewBag.Title = "Depot Allocation";
}

<div class="title">
    @ViewBag.Title
    <div class="float-right">
        @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Depot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlourMill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommodityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Depot.Place.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlourMill.Place.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommodityType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepotAllocationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepotAllocationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepotAllocationId })
        </td>
    </tr>
}

</table>
