@model IEnumerable<FMS.Models.WheatRequest>

@{
    ViewBag.Title = "Wheat Requests (Made by Directorate to PASCO)";
}

<div class="title">
    @ViewBag.Title
    <div class="float-right">
        @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WheatRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WheatRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WheatRequestId })
        </td>
    </tr>
}

</table>
